<div class="jumbotron jumbotron-attr">
<img class="prime-logo" src="/images/logo/new-prime-logo.png" alt="Prim Products logo">
</div>

  <div class="row">
    <div class="col-md-6 welcome-col">


  <p>Please Click the Button Below to View All Our Preeminent Products!</p>
  <a class="btn btn-primary btn-lg product-button" href="/allproducts" role="button">View Inventory</a>
    </div>
    
    <div class="col-md-6">
  <h1 class="display-4">Welcome to Prime Purchase!</h1>
  <p class="lead">Placeholder for Company Motto</p>

    </div>
  </div>

