<div class="jumbotron">
  <h1 class="display-4">Welcome to Prime Purchase!</h1>
  <p class="lead">Placeholder for Company Motto</p>
  <hr class="my-4">
  <p>Please Click the Button Below to View All Our Preeminent Products!</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">View Inventory</a>
</div>