<div class="jumbotron jumbotron-fluid jumbotron-attr">
    <div class="container">
       <img class="prime-logo" src="/images/logo/new-prime-logo.png" alt="Prime Products logo"> 
    </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 sign-form">
            <h2>Prime Purchase Login</h2>
            <form class="login">
                <div class="form-group">
                    <label for="userName">Username</label>
                    <input type="text" class="form-control" id="userName" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default product-button">Login</button>
            </form>
            <br />
            <p>Not a User? <a class="btn btn-primary product-button" href="/">Sign Up</a></p>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>